body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
 text-align: center;
}

nav {
text-align: center;
}

img{
  display: block;
  margin: auto;
}
nav a{
  background: grey;
  padding: 10px;
  margin: auto
}
figcaption{
  text-align: center;
}

p{
  text-align: center;
  width: 800px;
  margin: auto;
}

div{
  float: left;
  background: red;
  text-align: center;
  width: 25%
}


